@font-face {
    font-family: 'Modernism';
    src: url(fonts/Modernism.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modernism Narrow';
    src: url(fonts/Modernism-Narrow.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Sans Light';
    src: url(fonts/ModernSans-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Age';
    src: url(fonts/Modern\ Age.ttf) format('truetype');
  }

    .title{
        font-family: Modern Age;
        margin-top: 50px;
        text-align: center;
        cursor: pointer;
        font-size: 40px;
        letter-spacing: 4px;
        text-decoration: none;
        color: whitesmoke;
    }

    .title a:visited {
      color: inherit;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Add this line to center items horizontally */
      text-align: center;  /* Add this line to center text within each item */
      position: fixed; /* ensures that vh isnt affected by the div above it and begins at the top of the screen, not the bottom of the div above it*/
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      }

    .subheadings-link {
      cursor: pointer;
      font-size: 30px;
      text-decoration: none;
      color: whitesmoke;
      font-weight: bold;
    }

    .subheadings-link a:visited{
      color: whitesmoke;
    }

    .h1{
      font-family: Modernism Narrow;
      letter-spacing: 2px;
      color: whitesmoke;
    }

    .h2{
      font-family: Modern Sans Light;
      font-size: 20px;
      color: whitesmoke;
    }

    .highlight{
      color: whitesmoke; /* Set the desired color for the highlighted word */
    }

    .glowing-text{
      text-shadow: 0 0 1px whitesmoke(255, 255, 255, 0.6);
    }

    .highlight-education{
      color: blueviolet; /* Set the desired color for the highlighted word */
    }

    .glowing-text-education {
      text-shadow: 0 0 1px rgba(138, 43, 226, 0.6);
    }

    
    .highlight-finance{
      color: orangered; /* Set the desired color for the highlighted word */
    }

    .glowing-text-finance {
      text-shadow: 0 0 1px rgba(255, 69, 0, 0.6);
    }

    @media screen and (max-width: 600px) {
      .title{
        font-size: 30px;
        margin-top: 30px;
      }

      .subheadings-link{
        font-size: 20px;
      }

      .h2{
        font-size: 15px;
      }
    }

    @media screen and (max-width: 400px) {
      .title{
        font-size: 20px;
        margin-top: 10px;
      }

      .subheadings-link{
        font-size: 20px;
      }

      .h2{
        font-size: 10px;
      }
    }