@font-face {
    font-family: 'Modernism';
    src: url(fonts/Modernism.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modernism Narrow';
    src: url(fonts/Modernism-Narrow.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Sans Light';
    src: url(fonts/ModernSans-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Age';
    src: url(fonts/Modern\ Age.ttf) format('truetype');
  }

.coming-soon{
  font-family: Modernism Narrow;
  letter-spacing: 2px;
  font-weight: bolder;
  color: blueviolet;
  text-align: center;
  margin-top: 200px;
  font-size: 25px;
}

.title{
  font-family: Modern Age;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 40px;
  letter-spacing: 4px;
  text-decoration: none;
  color: whitesmoke;
}

.title a:visited {
  color: inherit;
}

/* Media query for monitors */
@media (min-width: 1800px){
  .coming-soon{
    margin-top: 300px;
  }
}
