@font-face {
    font-family: 'Modernism';
    src: url(fonts/Modernism.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modernism Narrow';
    src: url(fonts/Modernism-Narrow.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Sans Light';
    src: url(fonts/ModernSans-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Modern Age';
    src: url(fonts/Modern\ Age.ttf) format('truetype');
  }

  .background{
    background-color: black;
  }

  .title{
    font-family: Modern Age;
    margin-top: 50px;
    text-align: center;
    position: relative;
    z-index: 2; /* Set a higher z-index for the header and makes sure that this element appears over the vh of the other div*/
    cursor: pointer;
    font-size: 40px;
    letter-spacing: 4px;
    text-decoration: none;
    color: whitesmoke;
}

.title a:visited {
    color: inherit;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* ensures that vh isnt affected by the div above it and begins at the top of the screen, not the bottom of the div above it*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
    
  .h1{
    font-family: Modernism Narrow;
    letter-spacing: 5px;
    font-size: 50px;
    color: orangered;
  }


