<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Virtuous Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="static/images/Virtuous Technology.jpg">
  </head>


<body style="background-color: black;"></body>
  
<div class="title">
    <a class="title" href="/">Virtuous</a>
  </div>

  <div class="coming-soon">
    <h1>New Update</h1>
    <h2 >2-31-24<h2>
  </div>

  </body>

</html>
