<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Virtuous Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="static/images/Virtuous Technology.jpg">
  </head>


<body>
    <div class="section" id="section1">
      <a id="education" href="/">Virtuous Education</a>
      <h2>WHERE INNOVATION BEGINS</h2>
    </div>
  
    <div class="section" id="section2">
      <a href="/ComingSoon"><h1 id="python" class="hover-up">Python</h1></a>
      <h2>BUILD YOUR BASE</h2>
    </div>
  
    <div class="section" id="section3">
      <a href="/ComingSoon"><h1 id="styling" class="hover-up">Styling</h1></a>
      <h2>SOLIDIFY THE FOUNDATIONS</h2>
    </div>
  
    <div class="section" id="section4">
      <a href="/ComingSoon"><h1 id="deep" class="hover-up">Deep Learning</h1></a>
      <h2>LEARN A NEW REALITY</h2>
    </div>
  </body>

</html>
